

/* media screen 768px=====================*/
@media only screen and (max-width: 768px) {
  .menu-icon {
   display: block !important;
  }
  .nav-bar ul {
    display: none;
  }
  .download-cv{
    display: none;
  }
  ul li a{
    font-size: 14px;
  }
  /* banner text */
    h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 16px;
  }
  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
  .banner{
    flex-direction: column;
  }
  .interest-item{ 
    font-size: 12px;
  }
  /* <!-- about me section ===================--> */
  .about-section{
    flex-direction: column;
    }
    .about-text-block{
      padding-left:15px;
    }
  .skill-section{
    display: none !important;
  }


/* skill card ==============  mobile screen*/
  .faq-card-section {
    display: block !important;
  }
  .faq-card {
    background-color: #141920;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-shadow: none;
    width: 100%;
   height: auto;
  }
  .faq-card .faq-content {
    display: none;
    padding-top: 0.5rem;
  }
  .faq-card .faq-header {
    cursor: pointer;
    padding: 0.75rem;
    background: #222;
    border-radius: 8px;
  }
/* contact form======== */
#contact .container {
    padding: 2rem 1rem;
  }
  .contact-form {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .contact-form .form-group {
    margin-bottom: 1.5rem;
  }
  .contact-form label {
    font-size: 1rem;
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
    padding: 0.75rem;
  }
  .contact-form .btn {
    width: 100%;
    font-size: 1.1rem;
    padding: 0.9rem;
  }
  .contact-form .form-status {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
  }
  .contact-img-block{
    display: none;
  }
.portfolio-footer{
  flex-direction: column;
}
footer .footer-nav{
  display: none !important;
}
.footer-logo img{
width: 120px;
}
}

/*media screen 375px  ====================*/
@media only screen and (max-width: 375px) {

}

