*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
  font-weight: 400px;
  background-color: #0D1117;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  display: inline-block;
}

ul,ol{
  list-style: none;
}
.container{
  width: min(1300px,100%);
  padding-inline: 15px;
  margin-inline: auto;
}
img{
  display: inline-block;
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 48px; 
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: #918e8e;
  max-width: 600px;
}